*{
	margin: 0;
	padding: 0;
}
body{

	background: #fff;
}
div{

	border-radius: 5px;
	padding: 5px;
	background: #2E3192;
}
div.introduccion{
	margin: auto;
	width: 50%;
	margin-bottom: 15px;
}
div h2{
	color:#fff;
}
hr{
	width: 50%;
	margin: auto;
}
div h1{
	color: #FD0;
	text-shadow: 5px 5px 5px #000;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
h2{
	text-align: center;
}
header{
	padding-bottom: 15px;
	width: 100%;
	background-color: #FFDD00;
	margin-bottom: 10px;
}
header h1{
	text-align: center;
}
header nav{
	background: #fff;
	width: 50%;
	margin: auto;
}
p{
	margin-top: 10px;
	margin-bottom: 10px
}
.asignature{
	background-color: 
}
div.congrats{
	margin-top: 20px;
	margin: auto;
	width: 80%;
	background: #fff;
}

.instructions .linux-command{
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
	margin-top: 10px;
}
.instructions{
	width: 80%;
	margin: auto;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: rgba(56,56,56,.2);
	
}
.linux-command{
	text-shadow: #0f0;
	border: 2px;
	border-radius: 5px;
	border-color: #fff;
	padding: 5px;
	font-family: serif;
	font-size: 18px;
	color: #fff;
	background-color: rgb(55,55,55);
}
div.introduction{
	background: rgba(050,190,047,.5);
	margin: auto;
	width: 80%;
	color: #fff;
}

.welcome {
	background: #303F9F;
	color: #D32F2F;
}
.link-nav{
	color: #ff0000;
	display: inline;

}